

<div class="ftp-content-global-div">
    <div id="top-bar">
        <div id="connected-to"></div>

        

        <!-- Button trigger modal -->
        <button type="button" id="ftpConnectionState" class="btn btn-primary" data-toggle="modal" data-target="#ftp-login-modal">
            Connexion FTP
        </button>

        <button type="button" id="ftpDisconnectButton" class="btn btn-warning">Se déconnecter</button>
    </div>
    <div id="message-displayer"></div>
        
    <div id="ftp-files-manager">
        <table cellspacing="0">
            <tr>
                <th class="ftp-title">Local</th>
                <th class="ftp-title">Serveur distant</th>
            </tr>
            <tr>
                <td>
                    <input id="local-searchbar" class="form-control" type="text" placeholder="Chemin vers ..." aria-label="Search">
                    <div id="local-files"></div>
                </td>
                <td>
                    <input id="remote-searchbar" class="form-control" type="text" placeholder="Chemin vers ..." aria-label="Search">
                    <div id="remote-files"></div>
                </td>
            </tr>
        </table> 
    </div>







      <!-- Modal -->
      <div class="modal fade" id="ftp-login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Connexion FTP</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="ftpLoginForm" action="javascript:alert( 'Erreur innatendue' );">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Connexion FTP</legend>

                        <!-- Address input-->
                        <div class="form-group">
                            <label class="control-label" for="ftpServer">Adresse du serveur FTP</label>  
                            <input value="ftp.dlptest.com" id="ftpServer" name="ftpServer" type="text" placeholder="ftp.serveurftp.com" class="form-control input-md" required="">
                        </div>

                        <!-- Username input-->
                        <div class="form-group">
                            <label class="control-label" for="ftpUsername">Identifiant</label>  
                            <input value="dlpuser@dlptest.com" id="ftpUsername" name="ftpUsername" type="text" placeholder="Identifiant" class="form-control input-md" required="">
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                        <label class="control-label" for="ftpPassword">Mot de passe</label>
                            <input value="fLDScD4Ynth0p4OJ6bW6qCxjh" id="ftpPassword" name="ftpPassword" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
                        </div>

                        <!-- Validation Button -->
                        <div class="form-group" style="text-align: center">
                            <button id="ftpValidate" name="ftpValidate" class="btn btn-success">Valider</button>
                        </div>

                    </fieldset>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>