
/* Top bar */
#top-bar {
    height: 50px;
    width: 100%;
    padding: 10px;
}
#ftpConnectionState {
    float: right;
}
#connected-to {
    float: left;
}


/* Message displayer*/
#message-displayer {
    height: 50px;
    width: 100%;
}

.alert {
    margin: 0;
}

/* Main div displaying files and folder */
#ftp-files-manager {
    height: calc(100vh - 100px);
    width: 100%;
    /* overflow-y: scroll; */
    padding: 10px;
}

#ftp-files-manager table {
    height: 100%;
    width: 100%;
}

.ftp-title {
    width: 50%;
    height: 20px;
    text-align: center;
}

#ftp-files-manager > table > tr > th {
    background-color: violet;
}


#local-files,
#remote-files {
    vertical-align: top;
    border:1px solid black;
    margin:5px;
    margin-top:0;
    padding: 3px;
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow-y: scroll;
    width: 100%;
}

#local-files {
   
}

#remote-files {

}

#local-searchbar,
#remote-searchbar {
    height: 30px;
    border-radius: 2px;
    width: 100%;
    margin:5px;
    margin-bottom: 0;
}

#local-searchbar {

}

#remote-searchbar {

}




/* Specific folder / files */

.folderFile {
    width: 100%;
    height: 20px;

}

.folderFileLogo {
    width: 20px;
    height: 20px;
}
.folderFileName {
    display: inline-block;
}